* {
  font-family: 'Roboto Condensed', sans-serif;
}

footer {
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: 8em;
}

legend {
  font-size: 110%;
}

#rate-info {
  font-size: 80%;
}

#rate-limit, #rate-remaining {
  font-weight: bold;
}

#results {
  display: none;
  margin-top: 4em;
}

h3#results-display {
  font-size: 150%;
}

#api-mode {
  font-weight: bold
}

div.progress {
  display: none;
  margin: 0.5em 0 0 0;
}

#effectiveness-result, .username {
  font-weight: bold;
}

.github-fork-ribbon {
    background-color: #777;
}

.effective-copy {
  font-weight: bold;
}

.dejected-copy {
  font-family: 'Schoolbell', cursive;
  font-size: 110%;
}

button#sign-out {
  display: none
}

.data {
  font-weight: 700;
}

.fa-ambulance, .fa-frown-o {
  color: orange;
}

.fa-stethoscope, .red-cross {
  color: #F01525;
}

.fa-smile-o {
  color: green;
}

.green-glow {
  text-shadow: 0 0 5px #7f7;
}

.icon {
  font-weight: bold;
  font-size: 170%;
  vertical-align: middle;
}

#error-alert {
  display: none;
}
