* {
  font-family: 'Roboto Condensed', sans-serif;
}

footer {
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: 3em;
}

#rate-limit, #rate-remaining {
  text-align: right;
  font-weight: bold;
}

#results {
  display: none;
  margin-top: 4em;
}

#user-display {
  display: none;
  margin-top: 1em
}

div.progress {
  display: none
}

#effectiveness-result, .username {
  font-weight: bold;
}
