* {
  font-family: 'Roboto Condensed', sans-serif;
}

ol {
  padding: 0 0 0 1.3em;

  li {
    margin: 1em 0;
  }
}

th {
  font-weight: normal
}

footer {
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: 8em;
}

label {
  font-weight: normal;
}

legend {
  font-size: 110%;
}

#rate-info {
  font-size: 80%;
}

#results {
  display: none;
  margin-top: 4em;

  td {
    width: 100%;
  }
}

#trend-chart {
  display: none;
}

.results-display {
  margin: 2em 0;
}

h3 {
  font-size: 150%;
}

#api-mode {
  font-weight: bold
}

div.progress {
  display: none;
  width: 100%;
}

.github-fork-ribbon {
    background-color: #bbb;
}

.effective-copy {
  font-weight: bold;
}

.dejected-copy {
  font-family: 'Schoolbell', cursive;
  font-size: 110%;
}

button#sign-out {
  display: none
}

.data {
  font-weight: 700;
}

.icon {
  font-weight: bold;
  font-size: 170%;
  vertical-align: middle;
  padding-right: 0.1em;
}

#error-alert {
  display: none;
}

table#log td:nth-child(2), table#log th:nth-child(2), table#log td:nth-child(3), table#log th:nth-child(3) {
  text-align: center;
}

.external-link-icon {
  padding-left: 4px;
  opacity: 0.5;
}

@import 'icon_colors';
