* {
  font-family: 'Roboto Condensed', sans-serif;
}

ol {
  padding: 0 0 0 1.3em;

  li {
    margin: 1em 0;
  }
}

footer {
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: 8em;
}

label {
  font-weight: normal;
}

legend {
  font-size: 110%;
}

#rate-info {
  font-size: 80%;
}

#results {
  display: none;
  margin-top: 4em;
}

th {
  font-weight: normal
}

#results td {
  width: 100%;
}

h3#results-display {
  font-size: 150%;
}

#api-mode {
  font-weight: bold
}

div.progress {
  display: none;
  width: 100%;
}

#effectiveness-result, .username {
  font-weight: bold;
}

.github-fork-ribbon {
    background-color: #777;
}

.effective-copy {
  font-weight: bold;
}

.dejected-copy {
  font-family: 'Schoolbell', cursive;
  font-size: 110%;
}

button#sign-out {
  display: none
}

.data {
  font-weight: 700;
}

.fa-ambulance, .fa-frown-o {
  color: orange;
}

.fa-stethoscope, .red-cross {
  color: #F01525;
}

.fa-smile-o {
  color: green;
}

.green-glow {
  text-shadow: 0 0 5px #7f7;
}

.icon {
  font-weight: bold;
  font-size: 170%;
  vertical-align: middle;
  padding-right: 0.1em;
}

#error-alert {
  display: none;
}

table#log td:nth-child(2), table#log th:nth-child(2), table#log td:nth-child(3), table#log th:nth-child(3) {
  text-align: center;
}

.external-link-icon {
  padding-left: 4px;
  opacity: 0.5;
}
